@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100dvh;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Overrides */
nav {
  z-index: 999
}

/* Google Maps */
.gm-style-iw-d {
  padding: 1em;
}

.gm-style-iw-d > div {
  font-size: larger;
}

.gm-style iframe + div { 
  border:none!important; 
}

.gm-style-iw-a button {
  /* margin-top: -28px; */
  top: 0 !important;
  right: 0 !important;
}